.decorated {
    background: #DDD;
}

.assign {
    background: #D3E992;
}
.notify {
    background: #FFECC0;
}

.categorize {
    background: #C5EAF8;
}

.completable {
    cursor: pointer;
}

.complete {
    background: #EEEEEE !important;
    text-decoration: line-through;
}

.cursor {
    background: rgba(0, 0, 0, 0);
}