<!DOCTYPE HTML>
<html>
<head>
    <title>TaskManager</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css"
          type="text/css" />
</head>
<body>
    <h1 class="center">Task Manager</h1>
    <div class="content center">
        <div class="header">
            <div class="textarea">Review his resume and code submission
                <span class="assign">@Avram</span> <span class="assign">@Vahur</span>
                <span class="notify">!Pak</span> <span class="tag">#ENG</span></div>
            <textarea id="test" autocomplete="off"
                    placeholder="What needs to get done? TAG @assign !notify #tag"
                    rows="2">Review his resume and code submission @Avram @Vahur !Pak #ENG</textarea>
        </div>
    </div>
</body>
</html>